#exportPattern("^[[:alpha:]]+")

export(maBird)
export(maCooperative)
export(maERO)
export(maGames)
export(maIrreducible)
export(maPessimistic)
export(maRules)
export(mstBird)
export(mstCooperative)
export(mstDuttaKar)
export(mstEROKruskal)
export(mstGames)
export(mstIrreducible)
export(mstKar)
export(mstOptimistic)
export(mstPessimistic)
export(mstRules)
export(shapleyValue)

import(igraph)
import(optrees)

importFrom(gtools, permutations)